body {
    /* font css link  */
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    font-weight: 700;
    color: #474747;
    text-align: center;
    font-size: 18px;
}

/* navbar */
nav {
    /* 2 ta link pasahpashi nite chile */
    display: flex;
    /* 2 ta lekha 2 side a nite chaile */
    justify-content: space-around;
    /* 2 ta lekha align korte chaile */
    align-items: center;
    /* margin : 0(top+buttom) 200(left+right) */
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}

.nav-title {
    margin-top: 0;
    color: black;
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 15px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.log-sin {
    border-style: solid;
    color: rgb(70, 69, 69);
    padding: 8px 20px;
    border-radius: 10px;
}

/* ---- header ---- */
.header {
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* banner */
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-content {
    max-width: 500px;
}

.profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 25px;
    color: #ee5020;
    margin-bottom: 0;
}

.banner-title {
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.play-demo {
    display: flex;
    gap: 20px;
}

.play-demo img {
    width: 50px;
}

.play {
    display: flex;
}

/* category  */

.about {
    border-radius: 10px;
    margin: 130px 0;
}

.about-info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.about-info img {
    border-radius: 15px;
    padding: 5px;
    width: 320px;
    height: 250px;
}


.about-info-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 480px;
}

.about-info {
    text-align: center;
}

/* Top Selling */

.top-icon {
    display: flex;
}

.top-icon img {
    width: 30px;
}

.top-img img {
    width: 350px;
    height: 450px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px
}

.top-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

/* Fast and  */
.title {
    color: #6d6b6b;
}

.easy-work img {
    margin-bottom: 20px;
    margin-right: 30px;
    width: 80px;
}

.easy-work {
    display: flex;
    align-items: center;
}

.easy-fast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 60px;
}

.easy-content {
    max-width: 600px;
}

.greece-img {
    width: 300px;
    border-radius: 30px;
}

.fast-img img {
    width: 30px;
    margin-right: 15px;
}

.fast-image img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.easy-going {
    display: flex;
}

.easy-container {
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(79, 120, 167, 0.2),
        0 6px 20px 0 rgba(76, 62, 209, 0.19);
    border-radius: 20px;
    align-items: center;
    margin-top: 10pc;
}

.heart {
    margin-left: 80px;
}

.trip-rome {
    border-radius: 35px;
    width: 280px;
    height: 100px;
    align-items: center;
    position: absolute;
    margin-top: 320px;
    margin-left: 1050px;
    padding: 30px;
    background-color: #f7f5f6;
    display: flex;
}

.trip-rome img {
    width: 70px;
    margin-right: 20px;
}

.rome-color {
    color: rgb(162, 22, 190);
}

/* Testimonials */

.testimonials {
    display: flex;
    justify-content: space-around;

}

.testimonials img {
    width: 80px;
}

.tesi-work {
    border-radius: 10px;
    margin-left: 70px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    color: #6e6c6c;
}

.test-title {
    color: #6d6b6b;
    font-size: 20px;
}

/* Airlines */

.about-dot {
    color: #474747;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.logo img {
    width: 175px;
}

/* Subscribe */

.sub-title {
    text-align: center;
    background-color: #f7f5f6;
    padding: 100px;
    margin-bottom: 150px;
    /* border-radius: 20px; */
    border-top-left-radius: 150px;
}

.sub-title-color {
    color: #6e6c6c;
    font-size: 30px;
}

.subscribe {
    display: flex;
    justify-content: center;
}

.sub-input {
    padding: 16px;
    margin-right: 20px;
    border-radius: 10px;
    width: 450px;
}

.sub-icon img {
    width: 70px;
    position: absolute;
    margin-left: 580px;
    margin-top: 250px;
}


/* main sectin style  */
main {
    max-width: 1240px;
    margin: 0 auto;
}


/* skills related styles */


.skills-container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.top-work {
    display: flex;
    justify-content: space-evenly;
}


/* footer style  */
.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    /* text-align: center; */
}

.footer-container img {
    width: 30px;
}

.footer-icon {
    display: flex;
    gap: 30px;
    /* margin-right: 5px; */
}

.copyright {
    text-align: center;
    margin-bottom: 40px;
}



/* Responsive part */
/* modile devices  */
/* @media screen and (max-width:576px) {
    .banner {
        flex-direction: column;
    }
} */